.markdown,
.pill {
  display: inline-block;
}

.markdown p {
  margin: 0;
}

.markdown a {
  color: var(--primary);
}

.channel {
  color: #606060;
  font-size: 12px;
  margin-right: 8px;
}

.pill {
  font-size: 12px;
  margin: 0 4px;
  padding: 2px 3px 1px;
  border-radius: 3px;
  background-color: #e0e0e0;
}
