.item {
  display: flex;
  gap: 1ch;

  /* use system (color) emoji */
  font-family: "Plex Sans", monospace;
}

.time,
.channel {
  flex: none;
  width: 32.5px;
  color: #999;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 1px;
  line-height: 20px;
}

.username {
  font-weight: 900;
  margin-right: 0.75ch;
}

.message {
  flex: 1 1;
  min-width: 0;
  overflow-wrap: anywhere;
}

.trailer {
  color: #999;
  white-space: nowrap;
}

.item a {
  color: var(--dark);
}

.item a:hover {
  text-decoration: underline;
}

.item li {
  margin-left: 1em;
  list-style: disc;
}

.item blockquote {
  border-left: 2px solid #dddddd;
  margin: 4px;
  padding-left: 8px;
}

.item blockquote:last-child::parent {
  border: 1px solid red;
}

.item pre {
  margin: 4px 0;
  border-radius: 4px;
  padding: 8px;
  display: block;
  width: calc(100% - 16px);
  overflow-x: scroll;
}

.item code,
.item .internal {
  color: var(--dark);
  font-weight: 500;
}

.item .unknown {
  color: var(--dark);
  font-size: 12px;
  font-weight: bold;
  margin-right: 1ch;
}

.item .unknown:last-child {
  margin-right: 0;
}
