.picker {
  width: 17vw;

  color: #fff;
  background-color: var(--primary);
  text-align: center;

  position: relative;
}

.picker label {
  display: block;
  font-weight: 450;
  width: 100%;
}

.picker label:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.picker input {
  position: absolute;
  left: -13px;
  width: 1px;
  filter: opacity(0);
}
