.picker {
  width: 17vw;

  border-left: 1px solid black;
  text-align: center;

  position: relative;
}

.picker label {
  display: block;
  font-weight: 450;
  width: 100%;
}

.picker label:hover {
  cursor: pointer;
}

.picker input {
  position: absolute;
  left: -13px;
  width: 1px;
  filter: opacity(0);
}
