.tree {
  position: absolute;
  top: var(--box-padding);
  left: var(--box-padding);
  right: var(--box-padding);
  bottom: var(--box-padding);
  overflow: scroll;
}

.item {
  padding: 0 0.5rem;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.5;

  white-space: nowrap;
}

.item:hover,
.item[aria-selected="true"] {
  cursor: pointer;
  background-color: var(--neon);
}

.item svg {
  width: auto;
  padding-left: 2px;
  padding-right: 6px;
}

.error svg {
  color: var(--neon);
}

.error:hover svg,
.error[aria-selected="true"] svg {
  color: #fff;
}
