.logo {
  width: 190px;
  height: 44px;
  padding: 0.125rem 1rem;

  font-family: "Cascadia Mono", monospace;
  font-size: 19px;
  font-weight: bold;

  line-height: 2;
  text-align: right;

  color: var(--dark);
  background-color: #000;
  display: inline-block;
  position: relative;
}

.emoji {
  font-family: "Noto Emoji", monospace;
  font-weight: 900;
  margin-right: 0.75ch;
}

.logo svg {
  /* use absolute positioning to avoid shift as font loads */
  position: absolute;
  left: 38px;
  top: 8px;
  width: 28px;
}

.title {
  margin-right: 0.3ch;
  font-variant: small-caps;
}

.logo sup {
  font-family: monospace;
  font-size: 0.75em;
}
