.logo {
  font-family: "Noto Emoji", "Cascadia Mono", monospace;
  font-size: 19px;
  font-weight: 900;
  line-height: 2;
  text-align: center;

  color: var(--dark);
  background-color: #000;

  display: inline-block;
  padding: 0 2ch 0.2em;
  position: relative;
  width: 170px;
}

.block {
  width: 194px;
  height: 48px;

  border: 2px solid var(--dark);
  padding: 0.125rem 1rem;
  text-align: right;
}

.emoji {
  margin-right: 0.75ch;
}

.logo svg {
  /* use absolute positioning to avoid shift as font loads */
  position: absolute;
  left: 38px;
  top: 8px;
  width: 28px;
}

.title {
  margin-right: 2px;
  font-variant: small-caps;
}

.logo sup {
  font-family: monospace;
  font-size: 0.75em;
}
