.logo {
  width: 16ch;
  padding: 0.125rem 1rem;

  font-family: "Cascadia Mono", monospace;
  font-size: 19px;
  font-variant: small-caps;
  font-weight: bold;

  line-height: 2;
  text-decoration: none;

  color: white;
  background-color: black;
  display: inline-block;
}

.logo sup {
  font-variant: normal;
  margin-left: 0.25ch;
}
