.header {
  display: flex;

  background-color: black;
  white-space: nowrap;
  align-items: center;

  font-weight: bold;
}

.header + main {
  --navheight: calc(1rem + 28px);
}

.header select {
  align-self: stretch;
  border: none;
  margin: 0;
  padding: 0 1rem;
  color: white;
  background-color: inherit;
  font-weight: inherit;
  width: 200px;
}

.header nav {
  margin: 0 1rem;
  font-size: 0.9em;
  font-weight: normal;
}

.header nav a {
  margin: 0 1vw;
  color: white;
  text-decoration: none;
}

.header nav a:hover,
.header nav a[aria-current="page"] {
  border-bottom: 1px solid white;
}
