header.header {
  align-items: center;
  display: flex;
  white-space: nowrap;

  color: #fff;
  background-color: var(--primary);
  font-size: 15px;
}

.header + main {
  --navheight: calc(0.3rem + 40px);
}

.header select {
  width: 200px;
  align-self: stretch;
  padding: 0 1rem;

  background-color: inherit;
  font-weight: 600;
}

.header nav {
  margin: 0 1rem;
}

.header nav a {
  margin: 0 1vw;
  font-weight: 500;
}

.header nav a:hover,
.header nav a[aria-current="page"] {
  border-bottom: 1px solid #fff;
}
