.tile {
  display: flex;
  height: 2rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;

  color: black;
  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;
}

.tile:hover,
.tile[aria-selected="true"] {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.tile:hover {
  transform: translateX(12px);
}

.tile svg {
  display: block;
  height: 2rem;
  width: 2rem;
  padding-right: 1rem;
}

.loaded .tile,
.loaded .tile svg {
  transition: 250ms;
}

.tile.whiteout:hover svg,
.tile[aria-selected="true"].whiteout svg {
  filter: brightness(0%) invert(100%);
}
