.App {
  font-size: 16px;
  line-height: 28px;
}

.App a {
  margin: -0.3em -0.5em;
  padding: 0.3em 0.5em;

  color: black;
  text-decoration: none;
  text-decoration-skip-ink: none;
}

.App a:hover {
  color: white;
  background-color: black;
}

.App-header {
  display: inline-block;
  margin: 1vw 0;
  white-space: nowrap;
  font-size: 20px;
  font-variant: small-caps;
  text-decoration: underline;
  text-decoration-thickness: 15%;
  text-underline-offset: 20%;
}

.App-navigator {
  height: 28px;
  margin: 1vw 2vw;
  border: none;
  background-color: inherit;
}

.App-body {
  height: calc(100vh - 4vw - 28px - 2vw);
}

.App ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: "– ";
}
