.App {
  font-size: 16px;
  line-height: 28px;
}

.App a {
  margin: -0.3em -0.5em;
  padding: 0.3em 0.5em;

  color: black;
  text-decoration: none;
  text-decoration-skip-ink: none;
}

.App a:hover {
  color: white;
  background-color: black;
}

.App h1 {
  margin: 1vw 0 0 0;
  font-size: 20px;
  font-variant: small-caps;
  text-decoration: underline;
  text-decoration-thickness: 15%;
  text-underline-offset: 20%;
}

.App-body {
  margin: 1vw 0 0 0;
  height: calc(100vh - 4vw - 28px - 1vw);
}

.App ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: '– ';
}
