.drilldown {
  --list-width: 30vw;
  width: 100%;
  height: 100%;
  display: flex;
}

.list {
  width: var(--list-width);

  font-size: 14px;
  line-height: 1.5;

  border-right: 1px solid black;
}

.listItem {
  background-color: white;
  padding-left: 0.5rem;
  overflow-x: hidden;
}

.listItem:hover,
.listItem[aria-selected="true"] {
  cursor: pointer;
  filter: invert(100%);
}

.inspector {
  width: calc(100vw - var(--list-width));
  overflow-y: scroll;
  padding: 0.5rem;
}

.inspector pre {
  margin: 0;
}
