.outer {
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  gap: 1vw;
}

.drilldown {
  font-family: "Plex Sans", monospace;
  flex: 1;
}

.container {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.left {
  width: var(--left-width);
}

.right {
  width: calc(95vw - var(--left-width));

  font-family: "Plex Mono", monospace;
  font-size: 13px;
  line-height: 1.425;
}

.bar {
  height: 32px;
  line-height: 32px;
  flex: none;
  padding-left: 0.5rem;

  color: #000;
  background-color: var(--dark);

  display: flex;
  overflow: hidden;
}

.left .bar {
  font-size: 14px;
  gap: 1.5ch;
}

.right .bar span {
  font-weight: 550;
  user-select: text;
}

.grow {
  flex: 1;
}

.action {
  display: block;
  padding: 0 1em;
  cursor: pointer;
}

.action:last-of-type {
  margin-right: 0.5em;
}

.action:hover {
  color: var(--dark);
  background-color: #000;
}

.box {
  flex-grow: 1;
  border: 1px solid var(--dark);
  padding: 0.25rem;
}
