@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

.Explore {
  display: flex;
}

.Explore-categories {
  width: 20vw;
}

.Explore-listing {
  width: 60vw;
}

.Explore-drilldown {
  width: 40vw;
  overflow-y: scroll;
}

.App .Explore-categories ul {
  padding: 0;
  list-style-type: none;
}

.Explore-listing {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.47;
}

.Explore-item {
  padding-bottom: 4px;
}

.username {
  font-weight: 900;
}

.channel {
  color: #606060;
  font-size: 12px;
  margin-right: 8px;
}

.system-message {
  color: #606060;
}
