.main {
  display: flex;
}

.listing {
  width: 30vw;
  overflow-y: scroll;
  white-space: nowrap;

  font-size: 14px;
  line-height: 1.5;
}

.drilldown {
  width: 70vw;
  overflow-y: scroll;
}

.media {
  display: block;
  max-width: 100%;
}
