.home {
  display: flex;
  --hpadding: 5vw;
  font-weight: bold;
  line-height: 2rem;
  user-select: none;
}

.providerList {
  width: 300px;
  margin: auto 0;
  padding-right: 1vw;
  margin-right: 4vw;
  text-align: center;
}

.steps {
  width: calc(100vw - 15vw - 300px);
  margin: auto 3em auto 0;
}

.steps ol {
  list-style: none;
}

.steps li {
  margin: 3em 0;
}

.instructions {
  padding: 0 0 0 calc(32px + 1ch);
  font-weight: normal;
}

.instructions ol {
  padding: 0 0 0 1.2em;
  list-style: lower-alpha;
}

.instructions li {
  margin: auto;
}

.instructions p {
  margin: 0;
}

.instructions p + p {
  margin: 1em 0 0;
}
