.home {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.home::-webkit-scrollbar {
  display: none;
}

.home section {
  margin: auto;
  display: flex;
  gap: 8ch;
}

.intro,
.home nav {
  flex: 1;
  width: 26ch;
  vertical-align: middle;
}

.intro {
  scroll-snap-align: start;
}

.home nav {
  scroll-snap-align: end;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: flex-end;
}

.logo {
  width: fit-content;
  border: 2px solid #fff;
  margin: 0 -1rem;
  cursor: default;
}

.intro p {
  font-weight: bold;
  text-align: right;
}

.home nav a {
  display: block;

  color: var(--dark);
  font-weight: bold;
  text-transform: lowercase;
}

.home nav a:hover {
  text-decoration: underline;
}
