.home {
  display: flex;
  font-weight: bold;
  line-height: 2rem;
  --hpadding: 10vw;
}

.providerList {
  width: 300px;
  margin: auto 4vw auto 0;
  text-align: center;
  padding: 1rem 4vw 0;
  border-right: 1px solid #ccc;
}

.one {
  margin: 3em 0 0;
}

.request {
  margin: auto 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.request li {
  margin: 3em 0;
}

.instructions {
  padding: 0 0 0 calc(32px + 1ch);
  font-weight: normal;
  user-select: text;
}

.instructions ol {
  padding: 0 0 0 1.2em;
  list-style: lower-alpha;
}

.instructions li {
  margin: auto;
}

.instructions p {
  margin: 0;
}

.instructions p + p {
  margin: 1em 0 0;
}
