/* fonts */
@font-face {
  /* subset containing just basic latin characters */
  font-family: "Cascadia Mono";
  src: url("fonts/cascadia.woff2") format("woff2");
  font-display: block;
}

@font-face {
  /* if this font gets loaded in production, it means
     the Cascadia Mono font needs to be re-subset */
  font-family: "Cascadia Mono Full";
  src: url("fonts/cascadia-full.woff2") format("woff2");
}

@font-face {
  /* subset containing just the emoji we use */
  font-family: "Noto Emoji";
  src: url("fonts/noto-emoji.woff2") format("woff2");
  font-display: block;
}

@font-face {
  /* if this font gets loaded in production, it means
     the Noto Emoji font needs to be re-subset */
  font-family: "Noto Emoji Full";
  src: url("fonts/noto-emoji-full.woff2") format("woff2");
}

/* simple reset stylesheet
   ty https://www.digitalocean.com/community/tutorials/css-minimal-css-reset
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

/* our global styles */
html,
body,
#root {
  height: 100%;
}

body {
  color: #fff;
  background-color: #000;
  font-family: "Cascadia Mono", "Cascadia Mono Full", monospace;
  font-size: 16px;
  line-height: 28px;
}

main {
  --vpadding: 1vw;
  --hpadding: calc(1vw + 0.5rem);
  --navheight: 0px;
  height: calc(100vh - 2 * var(--vpadding) - var(--navheight));
  height: -webkit-fill-available;
  padding: var(--vpadding) var(--hpadding);
}

main.thin {
  --vpadding: 0px;
  --hpadding: 0px;
}

main.error {
  display: flex;
}

main.error code {
  color: #fff;
  font-weight: bold;
  margin: auto;
  text-transform: lowercase;
}
