/* fonts */
@font-face {
  /* subset containing just basic latin characters */
  font-family: "Cascadia Mono";
  font-display: block;
  text-rendering: geometricPrecision;
  src: url("fonts/cascadia-subset.woff2") format("woff2");
}

@font-face {
  /* subset containing just the emoji we use */
  font-family: "Noto Emoji";
  font-display: block;
  text-rendering: geometricPrecision;
  src: url("fonts/noto-emoji-subset.woff2") format("woff2");
}

@font-face {
  /* subset containing just basic ascii */
  font-family: "Plex Mono";
  text-rendering: optimizeLegibility;
  src: url("fonts/plex-mono-subset.woff2") format("woff2");
}

@font-face {
  font-family: "Plex Sans";
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("fonts/plex-sans.woff2") format("woff2");
}

@font-face {
  font-family: "Plex Sans";
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("fonts/plex-sans-italic.woff2") format("woff2");
}

/* simple reset stylesheet
   ty https://www.digitalocean.com/community/tutorials/css-minimal-css-reset
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  background-color: inherit;
  border: none;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

/* our global styles */
html,
body,
#root {
  height: 100%;
}

main,
header {
  color: #fff;
  background-color: #000;

  font-size: 16px;
  line-height: 28px;
}

main.error {
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
}

main.error code {
  margin: auto;
  font-family: "Cascadia Mono", monospace;
  font-weight: bold;
  text-transform: lowercase;
}

:focus-visible {
  outline: none;
  border: 1px solid var(--dark);
  margin: -1px;
}
