/* fonts */
@font-face {
  /* subset containing just basic latin characters */
  font-family: "Cascadia Mono";
  font-display: block;
  src: url("fonts/cascadia-subset.woff2") format("woff2");
}

@font-face {
  /* subset containing just the emoji we use */
  font-family: "Noto Emoji";
  font-display: block;
  src: url("fonts/noto-emoji-subset.woff2") format("woff2");
}

@font-face {
  /* subset containing just basic ascii */
  font-family: "Plex Mono";
  src: url("fonts/plex-mono-subset.woff2") format("woff2");
}

@font-face {
  font-family: "Plex Sans";
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("fonts/plex-sans.woff2") format("woff2");
}

@font-face {
  font-family: "Plex Sans";
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url("fonts/plex-sans-italic.woff2") format("woff2");
}

/* simple reset stylesheet
   ty https://www.digitalocean.com/community/tutorials/css-minimal-css-reset
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

/* our global styles */
html,
body,
#root {
  height: 100%;
}

main {
  --vpadding: 1vw;
  --hpadding: calc(1vw + 0.5rem);
  --navheight: 0px;
  height: calc(100vh - 2 * var(--vpadding) - var(--navheight));
  height: -webkit-fill-available;
  padding: var(--vpadding) var(--hpadding);
}

main.thin {
  --vpadding: 0px;
  --hpadding: 0px;
}

main.dark,
header.dark {
  color: #fff;
  background-color: #000;

  font-family: "Cascadia Mono", monospace;
  font-size: 16px;
  line-height: 28px;
}

main.light,
header.light {
  color: #000;
  background-color: #fff;

  font-family: "Plex Sans", monospace;
  font-size: 16px;
  line-height: 28px;
}

main.error {
  display: flex;
}

main.error code {
  color: #fff;
  font-weight: bold;
  margin: auto;
  text-transform: lowercase;
}
