.request {
  background-color: #000;
  color: var(--primary);
  font-family: "Cascadia Mono", monospace;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.request section {
  margin: 0 auto;
}

.logo {
  width: fit-content;
  border: 2px solid var(--primary);
  margin: 1em 0 0.5em auto;
  text-align: right;
}

.logo a {
  color: var(--primary);
}

.logo span {
  font-family: "Noto Emoji";
  font-weight: 900;
}

.provider {
  margin: 0 1rem 0 0;
  text-align: right;
  font-weight: bold;
  text-transform: lowercase;
}

.instruction {
  display: flex;
  margin: 2em 1rem 2em 0;
  line-height: 22px;
}

.emoji {
  font-size: 1.25em;
  font-family: "Noto Emoji";
  font-weight: 900;
  margin: 0 1ch 0 0;
}

code,
pre {
  font-family: "Cascadia Mono", monospace;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
}

.pointer a {
  display: block;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

.pointer a:hover {
  text-decoration: underline;
}

.pointer pre {
  margin: 1em 1ch 0;
}

.import label {
  font-weight: bold;
}

.import label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.import input {
  display: none;
}
